APP_CONFIG_PATH=./config/app_config.yml
LIVETOUR_CONFIG_PATH=./config/livetour_config.yml

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
PGUSER=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=diploma
SSL_MODE=disable
MIGRATIONS_PATH=migrations
JWT_SECRET_KEY=
