[data-theme="light"] {
	--bg-color: white;
	--text-color: black;
}

[data-theme="dark"] {
	--bg-color: #16171d;
	--text-color: white;
}

body {
	margin: 0;
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: system-ui, "Segoe UI", Roboto, sans-serif;
	transition: background-color 0.1s, color 0.1s;
}

.panel {
	background: 'rgba(255, 255, 255, 0.8)';
	backdropFilter: 'blur(8px)';
	padding: '20px';
}
